<!-- <router-outlet></router-outlet> -->

<!-- <app-measure-value-filters-example></app-measure-value-filters-example> -->


<h2>Export Chart Data</h2>
<app-bar-chart-export-example></app-bar-chart-export-example>
<!-- <hr className="separator" />
<h2>Export Table Data</h2>
<app-table-export-example></app-table-export-example>
<hr className="separator" />
<h2>Export Pivot Table Data</h2>
<app-pivot-table-export-example></app-pivot-table-export-example>
<hr className="separator" />
<h2>Export Visualization Data</h2>
<app-visualization-column-chart-export-example></app-visualization-column-chart-export-example>
<hr className="separator" />
<h2>Export Headline Data</h2>
<app-headline-export-example></app-headline-export-example> -->

