

<app-example-with-source [for]="barchar" [source]="source"></app-example-with-source>
<!-- <app-afm-bar-chart></app-afm-bar-chart> -->
<!-- <app-table></app-table> -->
<!-- <app-thgtest></app-thgtest> -->
<!-- <app-table></app-table> -->
<!-- <app-thgtest></app-thgtest> -->

<!-- <app-bar-chart-export-example></app-bar-chart-export-example> -->
<!-- <app-headline-export-example></app-headline-export-example> -->
<!-- <app-pivot-table-export-example></app-pivot-table-export-example> -->
<!-- <app-table-export-example></app-table-export-example> -->
<!-- <app-visualization-column-chart-export-example></app-visualization-column-chart-export-example> -->


<!-- <app-bar-chart-with-source></app-bar-chart-with-source> -->

