<div>
<div class="attribute-filter" style="height:50px" [id]="rootDomID"></div>
<table style="padding:15px">
    <tr>
        <th><div class="attribute-filter" style="height:25px; padding:15px" [id]="kpiDailySalesRootDomID"></div></th>
        <th><div class="attribute-filter" style="height:25px; padding:15px" [id]="kpiCheckAmountRootDomID"></div></th>
    </tr>
    <tr>
        <td style="padding:15px">Daily sales</td>
        <td style="padding:15px">Average check amount</td>
    </tr>
</table>
<h1 style="text-align:center">Average daily total sales by menu category</h1>
<div class="attribute-filter" style="height:500px" [id]="barRoomDataID"></div>
<h1 style="text-align:center">Average daily total sales by menu item</h1>
<div class="attribute-filter" style="height:500px" [id]="pieRoomDataID"></div>
</div>